@using TheCatApi.ViewModels

@model = TheCatApi.ViewModels.CategoriesViewModel

<h2>Welcome to ASP.NET MVC @ViewData["Version"] on @ViewData["Runtime"]!</h2>

<h1>Categories</h1>
<ul>
@foreach(var item in @model.Categories){
    <li>@item </li>
    }
</ul>